<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>website hejun page</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	<link rel="stylesheet" href="assets/css/pushy-buttons.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/flaticon.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
</head>

<body>
	<!-- Fixed navbar -->
	<nav id="navBar" class="navbar navbar-default navbar-SH navbar-fixed-top" role="navigation"></nav>

	<div class="container">
		<div class="top-height">
			<article class="table-box navbar-fixed-top top-Menu">
				<section onclick="location.href='index.html'"><i class="fa fa-chevron-left"></i> back</section>
				<section>購買課程</section>
				<section><a data-toggle="modal" data-target="#SearchModal" href="#"><i class="fa fa-search"></i> <span class="hidden-xs">Search</span></a>　</section>
			</article>
		</div>

		<!-- Layout Main aside Star -->
		<article id="app" class="col-md-8">

			<div class="hidden-xs hidden-sm" style="height:2em;"></div>
			<ol class="breadcrumb hidden-xs row">
				<li class="breadcrumb-item"><a href="index.html"><i class="flaticon-home"></i> Home</a></li>
				<li class="breadcrumb-item"><a href="#">課程</a></li>
				<li class="breadcrumb-item active">課程資訊</li>
			</ol>

			<section class="card" style="margin-bottom:.8rem!important;">
				<div class="px-1 py-1 brb brt3">
					<h4>烏克麗麗 免費體驗課程</h4>
					<div><i class="fa fa-calendar-o"></i>&nbsp; <span class="grey"> 效期：</span><span>180天</span></div>
					<div><span class="grey"><i class="fa fa-address-card-o"></i> 講員：</span> <span>OOO</span></div>
				</div>
				<div class="table-box grey" style="padding:.5rem 0 .25rem;">
					<div>
						<span>定價:</span>
						<s>¥ <span class="fz14">109</span></s>
					</div>
					<div>
						<span>售價:</span>
						<span class="red">¥ <span class="fz16">{{payCash}}</span></span>
					</div>
				</div>
			</section>
			
			<section class="row">
				<div class="col-sm-6">
					<article class="card brt3">
						<div class="py-1">
							<h4 class="m-0 red brb px-1 pb-1">我的代幣</h4>
							<section class="flex-box cube_btn">
								<div class="text-center">
									<span class="fz14 d-block">50</span>
									<small class="grey d-block">代幣餘額</small>
								</div>
								<div class="text-center">
									<span class="fz14 d-block">50</span>
									<small class="grey d-block">等值現金(1:1)</small>
								</div>
								<div class="text-center">
									<span class="fz14 d-block">{{this_token}}</span>
									<small class="grey d-block">可抵用額</small>
								</div>
							</section>
						</div>
					</article>
				</div>
				<div class="col-sm-6">
					<article class="card brt3">
						<div class="py-1">
							<h4 class="m-0 red brb px-1 pb-1">我的積分</h4>
							<section class="flex-box cube_btn">
								<div class="text-center">
									<span class="fz14 d-block">280</span>
									<small class="grey d-block">積分餘額</small>
								</div>
								<div class="text-center">
									<span class="fz14 d-block">10</span>
									<small class="grey d-block">等值現金(1:30)</small>
								</div>
								<div class="text-center">
									<span class="fz14 d-block">{{this_integral}}</span>
									<small class="grey d-block">可抵用額</small>
								</div>
							</section>
						</div>
					</article>
				</div>
			</section>
			<div class="hidden-xs h1em"></div>

			<section class="white_bg py-1 card">
				<form class="form-horizontal">
					<!-- <h4 class="m-0 grey brb px-1 pb-2"><i class="fa fa-calculator"></i> 合計</h4> -->
					<section class="form-group form-inline pt-1">
						<div class="h1em"></div>
						<label for="" class="col-sm-2 col-xs-3 control-label grey">代幣抵現</label>
						<div class="ShowHiddenInput col-sm-8 col-xs-7">
							<!-- <input type="range" value="0" data-min="0" data-max="50" class="rangeSlide"> -->
							<!-- <input type="range" data-min="0" v-bind:data-max="offsetToken" class="rangeSlide form-control fz14" v-model.number="token"> -->
							<div class="mt-5rem"><vue-slider v-bind:max="offsetToken" v-model.number="token"></vue-slider></div>
							<input class="form-control fz13" type="text" v-model:value="token">
						</div>
						<div class="col-sm-1 col-xs-2">
							<a class="type_btn btn btn-default btn-outline fz13" data-toggle="button" aria-pressed="false" autocomplete="off">&crarr;</a>
						</div>
					</section>
					<div class="h1em hidden-sm"></div>

					<section class="form-group form-inline pt-1">
						<label for="" class="col-sm-2 col-xs-3 control-label grey">積分抵現</label>
						<div class="ShowHiddenInput col-sm-8 col-xs-7">
							<!-- <input type="range" min="0" v-bind:data-max="offsetIntegral" class="rangeSlide form-control fz14" v-model.number="integral"> -->
							<div class="mt-5rem"><vue-slider v-bind:max="offsetIntegral" v-model.number="integral"></vue-slider></div>
							<input class="form-control fz13" type="text" v-model:value="integral">
						</div>
						<div class="col-sm-1 col-xs-2">
							<a class="type_btn btn btn-default btn-outline fz13" data-toggle="button" aria-pressed="false" autocomplete="off">&crarr;</a>
						</div>
					</section>

					<section class="form-group pt-1">
						<label for="" class="col-sm-2 col-xs-3 control-label grey">課程售價</label>
						<div class="col-sm-9 col-xs-8">
							¥ <span class="fz13">{{payCash}}</span> 元
						</div>
					</section>

					<section class="form-group">
						<label for="" class="col-sm-2 control-label grey">&nbsp;</label>
						<div class="col-sm-9 col-xs-10_ text-right">
							<p><span class="grey">折抵</span> <span class="fz13">{{total}}</span> 元</p>
							<label class="badge__ d-inline__ green_bg__ grey mr-1" v-if="cacl>=0">應付現金</label>
							<label class="badge d-inline red_bg mr-1" v-if="cacl<=-1">低於售價</label>
							¥ <span class="red fz16">{{cacl}}</span> 元
						</div>
					</section>

					<div class="h1em hidden-xs"></div>
					<hr>
					<section class="form-group">
						<div class="col-xs-6 col-sm-4 col-sm-offset-2">
							<button type="button" class="pushy-btn btn-g btn-block btn--grey" onclick="history.go(-1)">&times; 取消訂購</button>
						</div>
							<div class="col-xs-6 col-sm-4">
							<button class="pushy-btn b-lg btn-block" :class="{'btn--green':!isFormValid}" :disabled="!!isFormValid" type="submit"><i class="fa fa-wechat"></i> 微信付款</button>
						</div>
					</section>
				</form>
			</section><!-- /.section -->

		</article><!-- Layout Main aside End -->
		<style>
			.ToggleHide .mt-5rem {display:none;}
			.ShowHiddenInput .form-control {display:none;}
			.ToggleHide .form-control {display:block;}
		</style>
		
		<!-- Layout Right aside Star -->
		<aside class="col-sm-3 col-sm-offset-1 hidden-xs hidden-sm">
			<div style="height:2em;"></div>
			<div id="Recommendations"></div>
		</aside><!-- Layout Right aside End -->

	</div><!-- /.container -->
	
	<!-- Search Modal -->
	<div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

	<!-- Comment Modal -->
	<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

	<div class="h3em hidden-xs"></div>

	<!-- <div class="container">
		<article id="footMenuBar"></article>
	</div> -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script> -->

	<script src="assets/js/vue-slider-component.js"></script>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="assets/js/global_main.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {

		// Vue2.js method
		var app = new Vue({
			el:'#app',
			data:{
				offsetToken: 50,
				offsetIntegral: 270,
				token: 0,
				integral: 0,
				payCash: 99
			},
			computed: {
			  total: function () {
				return this.token + this.integral
			  },
			  cacl: function () {
				return this.payCash - this.total
			  },
			  this_token: function () {
				return this.offsetToken - this.token
			  },
			  this_integral: function () {
				return this.offsetIntegral - this.integral
			  },
			  isFormValid: function(){
				isFormValid: false;
				return this.cacl <= -1;
			  }
			},
			components: {
				'vueSlider': window[ 'vue-slider-component' ],
			}
		});
		
		setTimeout(function(){
			$("#footMenuBar .footMenu_btn").children('li:nth-child(2)').addClass("sel");
			$(".navbar-nav:first-child").children('li:nth-child(2)').children('a').addClass("red");
		},500);
		
		$(".type_btn").click(function() {
			$(this).closest("section").find("div.ShowHiddenInput").toggleClass("ToggleHide");
		});


	});
	</script>

</body>
</html>